.header {
  height: 56px;
  width: 100%;
}

.mantine-Grid-inner {
  height: 100%;
}

[data-mantine-color-scheme="light"] .bg-darker {
  background-color: var(--mantine-color-gray-0);
}

[data-mantine-color-scheme="dark"] .bg-darker {
  background-color: var(--mantine-color-dark-8);
}

.mantine-Accordion-item:where([data-active="true"]) {
  background-color: unset;
}

.mantine-Indicator-indicator {
  --indicator-translate-x: 0%;
}

.match-case-switch .mantine-Switch-body {
  flex-direction: column;
}
.match-case-switch .mantine-Switch-labelWrapper {
  line-height: unset;
}

.match-case-switch .mantine-Switch-label {
  font-size: var(--input-label-size, var(--mantine-font-size-sm));
  font-weight: 500;
}