.header {
  height: 56px;
  width: 100%;
}

.mantine-Grid-inner {
  height: 100%;
}

[data-mantine-color-scheme="light"] .bg-darker {
  background-color: var(--mantine-color-gray-0);
}

[data-mantine-color-scheme="dark"] .bg-darker {
  background-color: var(--mantine-color-dark-8);
}

.mantine-Accordion-item:where([data-active="true"]) {
  background-color: unset;
}
